WeatherArduinoTime.py
SunshadeWindRainRetract - kopie.in-o
SunshadeWindRainRetract - kopie.in0-o
SunshadeWindRainRetract - Copy.in-o
Somfy_Remote.in_o
RunArduinoTimeDisplay.cmd
RESET_SUPPRESS_PIN_UIT_Sunsh.cmd
pinchangeInt.in-o
~$Knmi vs windmeter.xlsx
Nano_Retract_schem.png
Nano_Retract_schem v2.png
MyWeatherReader -V3.in-o
MyWeatherReader V2.i-no
MyWeatherReader V2.in-o
MyWeatherReader - V6.in-o
MyWeatherReader - V5 Copy.in--o
MyWeatherReader - V4.in-o
MyWeatherReader - Copy.in-o
MyWeatherReader - Copy - Copy.in-o
log5-6.txt
log.txt
log 29-1.txt
Knmi vs windmeter.xlsx
auriol_protocol_v20.pdf
auriol_protocol.txt
ArduinoTimeDisplay.py
ArduinoCommand.py
